html{
    height: 100%;
}

body{
    text-align: center;
    background: linear-gradient(#9e70ff, #9e70ff);
}
#twitchIcon{
    height: 35%;
    width: 35%;
}

#status{

}

#topPart{
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 0;
    background: #b067e0;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}

#online,
#all,
#offline
{
    background: #9b18f2;
    color: white;
    border: none;
    font-family: 'Barlow Condensed', sans-serif;
}
#online:hover,
#all:hover,
#offline:hover{
    background: #cd82ff;
}



#status{
    background: #9b18f2;
}

#userInfo{
    background: #fcdcff;
    font-family: 'Barlow Condensed', sans-serif;
}
#userInfo2{
    background: #fcdcff;
    font-family: 'Barlow Condensed', sans-serif;
}

.userInfoBackground{
    background: #fcdcff;
    border: .5px solid #a418ff;

}

.userName{
    height: 50px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 25px;
}

.image{
    width: 50px;

}

.image{
    width: 50px;
    height: 50px;
}

.title{
    height: 50px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 25px;
}
